<%- include("partials/header"); -%>
    <h1>About</h1>
    <p>Made by Prasiddha Sudhakar</p>
    <p> B.S. Computer Science & B.A. Economics</p>
    <p>Capital One SWE Submission 2020</p>
<%- include("partials/footer"); -%>
