<%- include("partials/header"); -%>
    <h1>Home</h1>
    <h4>Food Finder makes the restaurant search easier for you!</h4>
    <div class="alert alert-success" role="alert">
  Let's get started!
</div>
<button type="button" class="btn btn-outline-success">Find me</button>
<%- include("partials/footer"); -%>
